.newBatchWrapper
    .module.ingredients
        .inputWrapper
            input(type='submit' ng-click='showGrainData()' value='Grain')
            input(type='submit' ng-click='showHopsData()' value='Hops')
            input(type='submit' ng-click='showYeastData()' value='Yeast')
    .module.ingredientData
        input(ng-show='showGrain' type='text' ng-model='ingredientFilter' placeholder='Filter grain...')
        input(ng-show='showHops' type='text' ng-model='ingredientFilter' placeholder='Filter hops...')
        input(ng-show='showYeast' type='text' ng-model='ingredientFilter' placeholder='Filter yeast...')
        div(ng-show='showGrain' ng-repeat='grain in grain | filter:ingredientFilter') 
            p(ng-click='addGrainToRecipe(grain)') {{grain.name}}
        p(ng-show='showHops' ng-click='addHopsToRecipe(hops)' ng-repeat='hops in hops | filter:ingredientFilter') {{hops.name}}
        p(ng-show='showYeast' ng-click='addYeastToRecipe(yeast)' ng-repeat='yeast in yeast | filter:ingredientFilter') {{yeast.name}}
    .module.recipeData
        .recipe.title
        .recipe.abv
        .recipe.srm
        .recipe.ibu
        .recipe.og
        .recipe.fg
        .recipe.ingredients
            .ingredient.grain(ng-repeat='grain in recipeGrain') {{grain.name}}
                span.remove(ng-click='removeIngredient($index)') Remove
            .ingredient.hops(ng-repeat='hops in recipeHops') {{hops.name}}
                span.remove(ng-click='removeIngredient($index)') Remove
            .ingredient.yeast(ng-repeat='yeast in recipeYeast') {{yeast.name}}
                span.remove(ng-click='removeIngredient($index)') Remove
