.newBatchWrapper
    .module.ingredients
        .inputWrapper
            input#grain(type='submit' ng-click='showGrainData()' value='Grain')
            input#hops(type='submit' ng-click='showHopsData()' value='Hops')
            input#yeast(type='submit' ng-click='showYeastData()' value='Yeast')
    .module.ingredientData
        input(ng-show='showGrain' type='text' ng-model='ingredientFilter' placeholder='Filter grain...')
        input(ng-show='showHops' type='text' ng-model='ingredientFilter' placeholder='Filter hops...')
        input(ng-show='showYeast' type='text' ng-model='ingredientFilter' placeholder='Filter yeast...')
        
        edit-recipe(ng-show='showGrain' ingredient-type='grains' ingredient='grain' ng-repeat='grain in grainInDb | filter:ingredientFilter')
        edit-recipe(ng-show='showHops' ingredient-type='hopss' ingredient='hops' ng-repeat='hops in hopsInDb | filter:ingredientFilter')
        edit-recipe(ng-show='showYeast' ingredient-type='yeasts' ingredient='yeast' ng-repeat='yeast in yeastInDb | filter:ingredientFilter')
    .module.recipeData
        .recipe.title
        .recipe.abv
        .recipe.srm
        .recipe.ibu
        .recipe.og
        .recipe.fg
        .recipe.ingredients
            .ingredient.grain(ng-repeat='grain in grainInRecipe') {{grain.name}}
                span.remove(ng-click='removeGrain($index)') Remove
            .ingredient.hops(ng-repeat='ingredient in hopsInRecipe') {{ingredient.name}}
                span.remove(ng-click='removeHops($index)') Remove
            .ingredient.yeast(ng-repeat='ingredient in yeastInRecipe') {{ingredient.name}}
                span.remove(ng-click='removeYeast($index)') Remove
