
<div class="newBatchWrapper">
  <div class="module ingredients">
    <div class="inputWrapper">
      <input type="submit" ng-click="showGrainData()" value="Grain"/>
      <input type="submit" ng-click="showHopsData()" value="Hops"/>
      <input type="submit" ng-click="showYeastData()" value="Yeast"/>
    </div>
  </div>
  <div class="module ingredientData">
    <input ng-show="showGrain" type="text" ng-model="ingredientFilter" placeholder="Filter grain..."/>
    <input ng-show="showHops" type="text" ng-model="ingredientFilter" placeholder="Filter hops..."/>
    <input ng-show="showYeast" type="text" ng-model="ingredientFilter" placeholder="Filter yeast..."/>
    <div ng-show="showGrain" ng-repeat="grain in grain | filter:ingredientFilter"> 
      <p ng-click="addGrainToRecipe(grain._id)">{{grain.name}}</p>
    </div>
    <p ng-show="showHops" ng-click="addGrainToRecipe(hops._id)" ng-repeat="hops in hops | filter:ingredientFilter">{{hops.name}}</p>
    <p ng-show="showYeast" ng-click="addYeastToRecipe(yeast._id)" ng-repeat="yeast in yeast | filter:ingredientFilter">{{yeast.name}}</p>
  </div>
  <div class="module recipeData"></div>
</div>