
<div class="container ingredientInfo">
  <div class="grainInfo">
    <header>
      <h3>Grain</h3>
      <input type="text" placeholder="Filter" ng-model="grainFilter"/>
    </header>
    <div class="info">
      <p ng-repeat="grain in grain | filter: grainFilter" ng-click="rotate90(&quot;grain&quot;, $index); showGrainInfo = !showGrainInfo"> <span id="grain{{$index}}" class="octicon octicon-triangle-right"></span><strong>{{ grain.name }}</strong><span ng-if="showGrainInfo"> {{ grain.description }}</span></p>
    </div>
  </div>
  <div class="hopsInfo">
    <header>
      <h3>Hops</h3>
      <input type="text" placeholder="Filter" ng-model="hopsFilter"/>
    </header>
    <div class="info">
      <p ng-repeat="hops in hops | filter: hopsFilter" ng-click="rotate90(&quot;hops&quot;, $index); showHopsInfo = !showHopsInfo"><span id="hops{{$index}}" class="octicon octicon-triangle-right"></span><strong>{{ hops.name }} </strong><span ng-if="showHopsInfo"> {{ hops.description }}</span></p>
    </div>
  </div>
  <div class="yeastInfo">
    <header>
      <h3>Yeast</h3>
      <input type="text" placeholder="Filter" ng-model="yeastFilter"/>
    </header>
    <div class="info">
      <p ng-repeat="yeast in yeast | filter: yeastFilter" ng-click="rotate90(&quot;yeast&quot;, $index); showYeastInfo = !showYeastInfo"><span id="yeast{{$index}}" class="octicon octicon-triangle-right"></span><strong>{{ yeast.name }}</strong><span ng-if="showYeastInfo"> {{ yeast.description }}</span></p>
    </div>
  </div>
</div>