.newBatchWrapper
    display: flex
    justify-content: space-between
    height: 100%
    +outer-container
    form
        margin-top: 1em
    .module
        height: 100%
        width: calc(100%/3)
        overflow-x: scroll
        padding: 0 50px
        // border-top: 1px solid $blue
        border-radius: 2px
        &.ingredients, &.ingredientData
            border-left: 1px solid $blue
        &.recipeData
            border-right: 1px solid $blue
            border-left: 1px solid $blue
        .inputWrapper
            margin-top: 20px
            input
                display: block
                margin: 20px auto
                width: 100%
        &.ingredientData
            input
                margin: 20px auto
            p
                color: darken($blue, 20%)
                cursor: pointer
                &:hover
                    color: lighten($blue, 5%)
        &.recipeData
            i
                color: $blue
                font-size: 1.2em
                float: right
                +fastTransition(all)
                +trashCan()
