.my-recipes-wrapper
    .container.my-recipes
        .col-3(ng-repeat='recipe in recipes track by $index')
            .recipeWrapper
                header 
                    h3.recipeName {{recipe.name}} 
                    span.fa.fa-trash-o.recipeTrash(ng-click='removeRecipe(recipe._id, $index)')
                h4 Private: {{ recipe.isPrivate }}
                .stats
                    div(ng-repeat='grain in recipe.grain') {{grain.amount}}lbs {{grain.name}}
                    div(ng-repeat='hops in recipe.hops') {{hops.amount}}oz {{hops.boilTime}}mins {{hops.name}}
                    div(ng-repeat='yeast in recipe.yeast') {{yeast.name}}
