
<div class="my-recipes-wrapper">
  <div class="container my-recipes">
    <div ng-repeat="recipe in recipes track by $index" class="col-3">
      <div class="recipeWrapper">
        <header> 
          <h3 class="recipeName">{{recipe.name}} </h3><span ng-click="removeRecipe(recipe._id, $index)" class="fa fa-trash-o recipeTrash"></span>
        </header>
        <h4>Private: {{ recipe.isPrivate }}</h4>
        <div class="stats">
          <div ng-repeat="grain in recipe.grain">{{grain.amount}}lbs {{grain.name}}</div>
          <div ng-repeat="hops in recipe.hops">{{hops.amount}}oz {{hops.boilTime}}mins {{hops.name}}</div>
          <div ng-repeat="yeast in recipe.yeast">{{yeast.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>