doctype html
html(lang='en')
    head
        title Grain Billd
        link(href='styles/main.css' rel='stylesheet')
    body(ng-app='GrainBilld')
        header.navigation(role='banner')
          .navigation-wrapper
            a.logo(ng-href='javascript:void(0)')
              span.octicon.octicon-beer
            a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
            nav(role='navigation')
              ul#js-navigation-menu.navigation-menu.show
                li.nav-link
                  a(ng-href='#/home') Home
                li.nav-link
                  a(ng-href='#/NewBatch') New Batch
                li.nav-link
                    a(ng-href='#/IngredientInfo') Ingredient Info
                li.nav-link.more
                  a(ng-href='javascript:void(0)') Recipes
                  ul.submenu
                    li
                      a(ng-href='#/MyRecipes') My Recipes
                    li
                      a(ng-href='#/CommunityRecipes') Community Recipes
                li.nav-link.logout
                    a(ng-href='/auth/logout' ng-click='logOut()' ng-if='currentUser') Log Out
                    a(ng-href='#/login' ng-if='!currentUser') Log In
                    //-   ul.submenu
                    //-     li
                    //-       a(href='javascript:void(0)') Sub-submenu Item
                    //-     li
                    //-       a(href='javascript:void(0)') Another Item
                    //- li.more
                    //-   a(href='javascript:void(0)') Another submenu
                    //-   ul.submenu
                    //-     li
                    //-       a(href='javascript:void(0)') Sub-submenu
                    //-     li
                    //-       a(href='javascript:void(0)') An Item
        ui-view
        script(src='components/jquery/dist/jquery.min.js')
        script(src='components/angular/angular.js')
        script(src='components/angular-cookies/angular-cookies.js')
        //- script(src='ajax.googleapis.com/ajax/libs/angularjs/1.4.17/angular-cookies.js')
        script(src='components/angular-ui-router/release/angular-ui-router.js')
        script(src='components/angular-loading-bar/build/loading-bar.js')
        script(src='app/scripts.min.js')
