doctype html
html(lang='en')
    head
        title Grain Billd
        link(href='styles/main.css' rel='stylesheet')
    body(ng-app='GrainBilld')
        header.navigation(role='banner')
          .navigation-wrapper
            a.logo(ui-sref='home')
              span.octicon.octicon-beer
              span.name   Grain Billd
            a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') Menu
            nav(role='navigation' ng-controller='navCtrl')
              ul#js-navigation-menu.navigation-menu.show
                li.nav-link
                  a(ui-sref='home') Home
                li.nav-link
                  a(ui-sref='newBatch') New Batch
                li.nav-link
                    a(ng-href='#/IngredientInfo') Ingredient Info
                li.nav-link.more
                  a(ng-href='javascript:void(0)') Recipes
                  ul.submenu
                    li(ng-if='currentUser')
                      a(ng-href='#/MyRecipes/{{currentUser.id}}') My Recipes
                    li
                      a(ui-sref='communityRecipes') Community Recipes
                li.nav-link.logout
                    a(ng-href='/auth/logout' ng-click='logOut()' ng-show='showLogIn') Log Out
                    a(ui-sref='login' ng-hide='showLogIn') Log In
                    //-   ul.submenu
                    //-     li
                    //-       a(href='javascript:void(0)') Sub-submenu Item
                    //-     li
                    //-       a(href='javascript:void(0)') Another Item
                    //- li.more
                    //-   a(href='javascript:void(0)') Another submenu
                    //-   ul.submenu
                    //-     li
                    //-       a(href='javascript:void(0)') Sub-submenu
                    //-     li
                    //-       a(href='javascript:void(0)') An Item
        ui-view
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js')
        //- script(src='components/jquery/dist/jquery.min.js')
        //- script(src='components/angular/angular.js')
        //- script(src='components/angular-cookies/angular-cookies.js')
        //- script(src='components/angular-ui-router/release/angular-ui-router.js')
        script(src='components/angular-loading-bar/build/loading-bar.js')
        script(src='app/scripts.min.js')
